/* General */

html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Helvetica', 'roboto',  sans-serif;
}

.row {
    margin: 0;
}

h2 {
    font-weight: 700;
}

/* landing screen */

#landingcontainer {
    position: absolute;
    top:0;
    left:0;
    background: url('../images/gym_floor_background_image.jpg') no-repeat center fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.opaque-overlay {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}


/* Navbar */
.navbar {
    z-index: 1;
}

.navbar-brand{
    color: rgba(255, 0, 0, 0.8)!important;
    font-size: 1.7em;
}

.nav-link{
    color: #fff!important;
    font-size: 1.20em;
}

.nav-link:hover{
    color: rgba(240, 240, 240, 0.8)!important;
}

.logo{
    color: rgba(255, 0, 0, 0.8);
    padding-left: 5px;
    padding-right: 10px;
}
 .navbar-toggler:focus, .navbar-toggler:active {
    outline-color: rgba(255, 0, 0, 0.8);
}


/* sign up */

#signupcontainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: rgb(255, 255, 255);
    margin: 0;
}

.signuptext {
  position: relative;
  top: 15%;
}

#signupcontainer h1 {
    font-size: 8vw;   
}

#signupcontainer h3 {
    font-size: 4vw;
}

#signupbutton {
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 75px;
    padding-top: 35px;
    font-size: 1.5em;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    color: #fff;
    background-color: rgba(255, 0, 0, 0.8);
    cursor: pointer;
}

#signupbutton:hover {
    background-color: rgba(255, 0, 0, 0.5);
}


/* Facilities */

.facilitiescontainer{
    margin-bottom: 50px;
}
.facilitiesimages {
    height: auto;
    max-height: 80vh;
    width: auto;
    margin: auto;
}

.facilitiestitle {
    padding-top: 40px;
    color: rgba(255, 0, 0, 0.8);
    margin-bottom: 25px;
}


/* Classes */

.classescontainer {
    background: url('../images/bootcamp.jpg') no-repeat center fixed;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.65);
    height: 700px;
    width: 100%;
    color:#fff;
}

.classicon{
    background-color: rgba(255, 0, 0, 0.8);
    color: #fff;
    margin-top: 45px;
    margin-bottom: 25px;
    padding-top: 17px;
    font-size: 3em;
    height: 80px;
    width: 80px;
    border-radius: 50%;
}



.classestitle {
    padding-top: 40px;
}

@media (max-width: 576px) {
.hideclasses{
display: none
}
}


/* Trainers */

.trainerstitle {
    padding-top: 40px;
    padding-bottom: 20px;
    color: rgba(255, 0, 0, 0.8);
}

.card {
    margin: 30px auto;
    margin-top: 0;
}

/* Contact */

#contact{
    color: #fff;
}

.contacttitle {
    padding-top: 40px;
    padding-bottom: 20px;
}

.contactdetails{
    font-size: 20px;
}

#phone, #email{
    text-decoration: none;
    color: #fff
}

#phone:hover, #email:hover{
    color: rgba(255, 0, 0, 0.8);
}

.map {
    width:90%;
    height: 450px;
}

/* Footer */

.socialicon {
    background-color: rgba(255, 0, 0, 0.8);
    margin-top: 50px;
    margin-bottom: 25px;
    padding-top: 7.5px;
    font-size: 2em;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.socialicon a i {
    color: #fff;
}

.socialicon a i:hover{
    color: rgba(240, 240, 240, 0.8);
}

.list-inline{
    margin: 0;
}