/* General */

html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Helvetica', 'roboto',  sans-serif;
}

/* landing screen */

#landingcontainer {
    position: absolute;
    top:0;
    left:0;
    background: url('../images/Gym_floor_background_image.jpg') no-repeat center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.65);
    height: 100vh;
    width: 100vw;
}

.opaque-overlay {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}


/* Navbar */
.navbar {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;
}

nav div a {
    font-size: 1.1em;
    color: rgba(255, 0, 0, 0.8)!important;
}

nav div a:hover{
    color: rgba(255, 0, 0, 0.5)!important;
}

.navbar-brand {
  font-size: 1.7em;
}

.fa-dumbbell{
    color: rgba(255, 0, 0, 0.8);
}
 .navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
}


/* sign up */

#signupcontainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: rgb(255, 255, 255);
    margin: 0;
    align-items: center;
    justify-content: center;
}

.signuptext {
    position: absolute;
    top: 25vh;
    align-items: center;
    justify-content: center;
}

#signupcontainer h1 {
    font-size: 8vw;   
}

#signupcontainer h2 {
    font-size: 4vw;
}

#signupbutton {
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 75px;
    padding-top: 35px;
    font-size: 1.5em;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    color: #fff;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 0, 0, 0.8);
    cursor: pointer;
}

#signupbutton:hover {
    background-color: rgba(255, 0, 0, 0.5);
}


/* Facilities */

.facilitiesimages {
    height: 80vh;
    width: 100vw;
}


/* Classes */

.classescontainer {
    background: url('../images/bootcamp.jpg') no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.65);
    height: 700px;
    width: 100%;
    color:#fff;
}

.classicon{
    background-color: rgba(255, 0, 0, 0.8);
    color: #fff;
    margin-top: 50px;
    margin-bottom: 25px;
    padding-top: 17px;
    font-size: 3em;
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.classesrow{
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;
}

.classestitle {
    padding-top: 40px;
}

@media (max-width: 768px) {
.hideclasses{
display: none
}
}



